<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GsiToExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GsiToExcel.Postavke" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GsiToExcel.Properties.Settings>
            <setting name="Decimalno" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Odstupanje" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="GridSakri" serializeAs="String">
                <value />
            </setting>
            <setting name="GridKolone" serializeAs="String">
                <value />
            </setting>
        </GsiToExcel.Properties.Settings>
        <GsiToExcel.Postavke>
            <setting name="BrojDecimala" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataGridKolone" serializeAs="String">
                <value />
            </setting>
        </GsiToExcel.Postavke>
    </userSettings>
</configuration>